{% extends 'MarcoshoyaMarquejogoBundle:Site:index.html.twig' %}

{% block container %}

    <div class="container">
        <div class="master-background">
            <div class="background">  </div>
        </div>
        <!-- Page Content -->
        <div class="search-header">
            <h3>Reserve sua quadra agora mesmo</h3>
        </div>
        <div class="searchbox">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
            {{ form_row (form._token) }}
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2">Onde</label>
                    <div class="col-md-1">
                        {{ form_widget(form.city, { 'attr': {'class': 'form-control form-where'} }) }}
                    </div>
                </div>

                <div class="form-group form-group-date">
                    <label class="col-md-2">Data</label>
                    <div class="col-md-1">
                        {{ form_widget(form.date, { 'attr': {'class': 'form-control form-date'} }) }}
                    </div>
                </div>

                <div class="form-group form-group-hour">
                    <label class="col-md-2">Horário</label>
                    <div class="col-md-1">
                        {{ form_widget(form.hour, { 'attr': {'class': 'form-control form-hour'} }) }}
                    </div>
                </div>

                <div class="clear"> </div>

                <div class="form-group-submit">
                    <input class="btn btn-search" type="submit" value="Pesquisar" />
                </div>

            </fieldset>
            {{ form_end(form) }}

        </div>
    </div>


{% endblock %}