<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a {{ view == 'dashboard' ? 'class="active"' : '' }} href="{{ path('_adm_dash') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <li {{ view == 'provider' ? 'class="active"' : '' }}>
                <a href="#">
                    <i class="fa fa-archive fa-fw"></i> Fornecedores<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a {{ view == 'provider' and item == 'new' ? 'class="active"' : '' }} href="{{ path('provider_new') }}">Inserir</a>
                    </li>
                    <li>
                        <a {{ view == 'provider' and item == 'list' ? 'class="active"' : '' }} href="{{ path('provider') }}">Listar</a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="panels-wells.html">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a href="notifications.html">Notifications</a>
                    </li>
                    <li>
                        <a href="typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="icons.html"> Icons</a>
                    </li>
                    <li>
                        <a href="grid.html">Grid</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>