{% extends 'MarcoshoyaMarquejogoBundle:Provider:index.html.twig' %}

{% block sidebar %}
    {{ render(controller('MarcoshoyaMarquejogoBundle:Provider/Dashboard:sidebar', {view : 'product', item: 'product'})) }}
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col-lg-12">
            <h1>Configurar Quadras</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p align="right">
                <a class="btn btn-primary" href="{{ path('providerproduct_new') }}" alt="Inserir novo" title="Inserir novo">
                    Inserir novo
                </a>
            </p>
        </div>
    </div>

    {{ render(controller('MarcoshoyaMarquejogoBundle:Provider/Dashboard:flash')) }}

    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Quadras
                </div>        
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="6%">#</th>
                                <th width="34%">Nome</th>
                                <th>Categoria</th>
                                <th>Tipo</th>
                                <th>Ativo</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('providerproduct_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.name }}</td>
                                    <td>{{ entity.category }}</td>
                                    <td>{{ entity.type }}</td>
                                    <td>{{ entity.isActive }}</td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('providerproduct_show', { 'id': entity.id }) }}">show</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('providerproduct_edit', { 'id': entity.id }) }}">edit</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->

{% endblock %}
