{{ form_start(formSidebar, {'attr': {'novalidate': 'novalidate'}} ) }}
{{ form_row (formSidebar._token) }}
<fieldset>
    <div class="form-group">
        <label class="col-md-2">{{ form_label(formSidebar.city, 'Cidade') }}</label>
        <div class="col-md-1">
            {{ form_widget(formSidebar.city, { 'attr': {'class': 'form-control form-where'} }) }}
            {{ form_errors(formSidebar.city) }}
        </div>

    </div>

    <div class="form-group form-sidebar-date">
        <label class="col-md-2">{{ form_label(formSidebar.date, 'Data') }}</label>
        <div class="col-md-1">
            {{ form_widget(formSidebar.date, { 'attr': {'class': 'form-control form-date'} }) }}
            {{ form_errors(formSidebar.date) }}
        </div>
    </div>

    <div class="form-group form-sidebar-hour">
        <label class="col-md-2">{{ form_label(formSidebar.hour, 'Horário') }}</label>
        <div class="col-md-1">
            {{ form_widget(formSidebar.hour, { 'attr': {'class': 'form-control form-date'} }) }}
            {{ form_errors(formSidebar.hour) }}
        </div>
    </div>

    <div class="clear"> </div>

    <div class="form-sidebar-submit">
        <input class="btn btn-sidebar-search" type="submit" value="Pesquisar" />
    </div>

</fieldset>
{{ form_end(formSidebar) }}