{% extends 'MarcoshoyaMarquejogoBundle:Provider:index.html.twig' %}

{% block sidebar %}
    {{ render(controller('MarcoshoyaMarquejogoBundle:Provider/Dashboard:sidebar', {view : 'schedule', item: 'schedule'})) }}
{% endblock %}

{% block container %}

    <div class="page-header">
        <div class="pull-right form-inline">
            <div class="btn-group">
                <a href="{{ path('schedule', {"year": navbar.prev.year, "month": navbar.prev.month }) }}" class="btn btn-primary" data-calendar-nav="prev"><< Anterior</a>
                <a href="{{ path('schedule', {"year": "now"|date('Y'), "month": "now"|date('m')}) }}" class="btn btn-default" data-calendar-nav="today">Hoje</a>
                <a href="{{ path('schedule', {"year": navbar.next.year, "month": navbar.next.month }) }}" class="btn btn-primary" data-calendar-nav="next">Próximo >></a>
            </div>
            <!-- 
            <div class="btn-group">
                <button class="btn btn-warning" data-calendar-view="year">Year</button>
                <button class="btn btn-warning active" data-calendar-view="month">Month</button>
                <button class="btn btn-warning" data-calendar-view="week">Week</button>
                <button class="btn btn-warning" data-calendar-view="day">Day</button>
            </div>
            -->
        </div>
        <h3>Agenda: {{ navbar.curr.title }}</h3>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="calendar" style="width: 100%;" class="cal-context">
                <div class="cal-row-fluid cal-row-head">
                    <div class="cal-cell1">Domingo</div>
                    <div class="cal-cell1">Segunda</div>
                    <div class="cal-cell1">Terça</div>
                    <div class="cal-cell1">Quarta</div>
                    <div class="cal-cell1">Quinta</div>
                    <div class="cal-cell1">Sexta</div>
                    <div class="cal-cell1">Sábado</div>
                </div>
                <div class="cal-month-box">
                    {% for week in schedule %}
                        <div class="cal-row-fluid cal-before-eventlist">
                            {% set weekend = [0, 6] %}
                            {% for day in week %}
                                <div class="cal-cell1 cal-cell" onclick="location.href='{{ path('schedule_show', {"year": day.format('Y'), "month": day.format('m'), "day": day.format('j') }) }}';">
                                    
                                        <div class="cal-month-day {{ 
            (day.format('Y-m') < navbar.curr.date.format('Y-m')) or 
            (day.format('Y-m') > navbar.curr.date.format('Y-m')) ? 'cal-day-outmonth' : 
                (day.format('Y-m-d') == "now"|date('Y-m-d')) ? 'cal-day-today' :
                    (day.format('w') in weekend) ? 'cal-day-weekend' : 'cal-day-inmonth' }}">
                                            
                                            <span class="pull-right" data-cal-date="{{ day.format('Y-m-d') }}">
                                                {{ day.format('j') }}
                                            </span>
                                        </div>
                                    
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->

{% endblock %}