{% extends 'MarcoshoyaMarquejogoBundle:Provider:index.html.twig' %}

{% block sidebar %}
    {{ render(controller('MarcoshoyaMarquejogoBundle:Provider/Dashboard:sidebar', {view : 'schedule', item: 'schedule'})) }}
{% endblock %}

{% block container %}

    <div class="page-header">
        <div class="pull-right form-inline">
            <div class="btn-group">
                <a href="#" class="btn btn-warning active" data-calendar-view="month">Ver mês</a>
            </div>
            <div class="btn-group">
                <a href="#" class="btn btn-primary" data-calendar-nav="prev"><< Anterior</a>
                <a href="#" class="btn btn-default" data-calendar-nav="today">Hoje</a>
                <a href="#" class="btn btn-primary" data-calendar-nav="next">Próximo >></a>
            </div>
        </div>
        <h3>{{ dateTitle }} </h3>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="calendar" style="width: 100%;" class="cal-context">
                <div id="cal-day-box">
                    <div class="row-fluid clearfix cal-row-head">
                        <div class="span1 col-xs-1 cal-cell">Hora</div>
                        <div class="span8 col-xs-3 cal-cell">Quadra(s)</div>
                        <div class="span3 col-xs-2 cal-cell">Valor</div>
                        <div class="span3 col-xs-2 cal-cell">Disponível</div>
                        <div class="span3 col-xs-2 cal-cell">Ação</div>
                    </div>
                    <div class="clearfix" id="cal-day-panel" style="height: 960px;">
                        <div id="cal-day-panel-hour">
                            {% for item in schedule.all %}
                                <div class="cal-day-hour">
                                    {% for key, scheduleItem in item.allproduct %}
                                        <div class="row-fluid cal-day-hour-part">
                                            <div class="span1 col-xs-1"><b>{{ key == 0 ? item.show : '' }}</b></div>
                                            <div class="span8 col-xs-3">
                                                
                                                {{ scheduleItem.providerProduct.name }}
                                            </div>
                                            <div class="span3 col-xs-2">
                                                {% if scheduleItem.price %}
                                                    <p align="center"> {{ scheduleItem.price }}</p>
                                                {% else %}
                                                    <p align="center">---</p>
                                                {% endif %}
                                            </div>
                                            <div class="span3 col-xs-2">
                                                {% if scheduleItem.available %}
                                                    <p align="center"> <i class="fa fa-check"> </i></p>
                                                {% else %}
                                                    <p align="center"> <i class="fa fa-close"> </i></p>
                                                {% endif %}
                                            </div>
                                            <div class="span3 col-xs-2">
                                                <a href="{{ path('schedule_edit',
                                                    {
                                                        'year': item.date.format('Y'),
                                                        'month': item.date.format('m'),
                                                        'day': item.date.format('d'),
                                                        'product': scheduleItem.providerProduct.id,
                                                        'hour': item.date.format('H'),
                                                    }
                                                ) }}">Configurar</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div style="clear: both"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /calendar -->
        </div>
    </div>

{% endblock %}