{% extends 'MarcoshoyaMarquejogoBundle:Site:booking.html.twig' %}

{% form_theme form 'MarcoshoyaMarquejogoBundle:Site/Form:fields_book.html.twig' %}

{% block container %}

    {{ render(controller('MarcoshoyaMarquejogoBundle:Site/Book:progress', {step: 2})) }}

    <div class="container-overview">
        {{ render(controller('MarcoshoyaMarquejogoBundle:Site/Book:overview', {book: book})) }}
    </div>

    {% if formLogin %}
        <div class="container-data">
            <table class="booking-data">
                <tbody>
                    <tr>
                        <td>
                            {{ render(controller('MarcoshoyaMarquejogoBundle:Provider/Dashboard:flash')) }}
                            <div class="booking-data-container">
                                <div class="booking-data-title">
                                    Acesse sua conta
                                </div>

                                <div class="booking-data-user">
                                    {{ form_start(formLogin, {'attr': {'novalidate': 'novalidate'}} ) }}
                                    {{ form_row (formLogin._token) }}
                                    <fieldset> 
                                        <div class="booking-data-user-group-col-md-2">
                                            <label class="col-md-2">{{ form_label(formLogin.username, 'E-mail') }}</label>
                                            <div class="col-md-1">
                                                {{ form_widget(formLogin.username, { 'attr': {'class': 'booking-data-user-control'} }) }}
                                                {{ form_errors(formLogin.username) }}
                                            </div>
                                        </div>
                                        <div class="booking-data-user-group-col-md-2">
                                            <label class="col-md-2">{{ form_label(formLogin.password, 'Senha') }}</label>
                                            <div class="col-md-1">
                                                {{ form_widget(formLogin.password, { 'attr': {'class': 'booking-data-user-control'} }) }}
                                                {{ form_errors(formLogin.password) }}
                                            </div>
                                        </div>
                                        <div class="booking-data-user-submit">
                                            <input type="submit" class="btn" value="Entrar" />
                                        </div>
                                    </fieldset>
                                    {{ form_end(formLogin) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="container-data">
        <table class="booking-data">
            <tbody>
                <tr>
                    <td>
                        <div class="booking-data-container">
                            <div class="booking-data-title">
                                Insira seus dados
                            </div>
                            <div class="booking-data-user">
                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
                                {{ form_row (form._token) }}
                                <fieldset> 
                                    <div class="booking-data-user-group-col-md-1">
                                        <label class="col-md-2">{{ form_label(form.name, 'Nome') }}</label>
                                        <div class="col-md-1">
                                            {{ form_widget(form.name, { 'attr': {'class': 'booking-data-user-control'} }) }}
                                            {{ form_errors(form.name) }}

                                        </div>
                                    </div>
                                    <div class="booking-data-user-group-col-md-1">
                                        <label class="col-md-2">{{ form_label(form.username, 'E-mail') }}</label>
                                        <div class="col-md-1">
                                            {{ form_widget(form.username, { 'attr': {'class': 'booking-data-user-control'} }) }}
                                            {{ form_errors(form.username) }}
                                        </div>
                                    </div>
                                    <div class="booking-data-user-group-col-md-2">
                                        <label class="col-md-2">{{ form_label(form.phone, 'Telefone') }}</label>
                                        <div class="col-md-1">
                                            {{ form_widget(form.phone, { 'attr': {'class': 'booking-data-user-control'} }) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="booking-data-user-group-col-md-2">
                                        {% for team in form.team %}
                                            {{ form_widget(team.owner) }}
                                            <label class="col-md-2">{{ form_label(team.name, 'Nome do time') }}</label>
                                            <div class="col-md-1">
                                                {{ form_widget(team.name, { 'attr': {'class': 'booking-data-user-control'} }) }}
                                                {{ form_errors(team.name) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if formLogin %}
                                        <div class="booking-data-user-group-col-md-2">
                                            <label class="col-md-2">{{ form_label(form.password, 'Password') }}</label>
                                            <div class="col-md-1">
                                                {{ form_widget(form.password, { 'attr': {'class': 'booking-data-user-control'} }) }} <span style="float:left">(para acessar a área do cliente)</span>
                                                {{ form_errors(form.password) }}
                                            </div>
                                        </div>
                                    {% else %}
                                        {{ form_widget(form.password) }}
                                    {% endif %}

                                    <div class="booking-data-user-submit">
                                        <input type="submit" class="btn" value="Continuar" />
                                    </div>
                                </fieldset>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>


{% endblock %}