<table class="booking-detail">
    <tr>
        <td>
            <div class="container-overview-image">
                <img src="/bundles/marcoshoyamarquejogo/images/site/fornecedor1.jpg" />
            </div>
            <div class="container-overview-description">
                <h2>{{ provider.name }}</h2>
                <p>{{ provider.fulladdress }}</p>
            </div>
            
            <div class="container-overview-stay">
                <p><b>Data</b> <br />
                    {{ dateTitle }}
                </p>
                {% for k, item in book.getAllItem %}
                    <p><b>Quadra {{ k }}</b> <br />
                       {{ item.id }}
                    </p>
                {% endfor %}
            </div>
        </td>
    </tr>
</table>
<div class="overview-price">
    <table class="booking-price">
        <tbody>
            <tr>
                <td>Preço total</td>
                <td align="right">R$ {{ book.price }}</td>
            </tr>
        </tbody>
    </table>
</div>