<ul class="nav navbar-nav">
    <li {{ view == 'dashboard' ? 'class="active"' : '' }}>
        <a href="{{ path('provider_dash') }}">
            <i class="fa fa-dashboard fa-fw"></i> Dashboard
        </a>
    </li>
    <li {{ view == 'schedule' ? 'class="active"' : '' }}>
        <a href="#">
            <i class="fa fa-calendar fa-fw"></i> Disponibilidade
        </a>
    </li>
    <li {{ view == 'product' ? 'class="active"' : '' }}>
        <a href="{{ path('providerproduct') }}">
            <i class="fa fa-archive fa-fw"></i> Quadras
        </a>
    </li>
    <li {{ view == 'config' ? 'class="active"' : '' }}>
        <a href="{{ path('providerconfig') }}">
            <i class="fa fa-gear fa-fw"></i> Configurações
        </a>
    </li>
</ul>